n8n/fixed_workflow.json
{
  "name": "Smart Radiator Training",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-train",
      "name": "Training Schedule (Every 30min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [0, 0],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://home.nmless.xyz/api/states",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJjMWVjMmU2MWE0MjE0OGUzYmNmNjRkZGIwMWFkODc0YSIsImlhdCI6MTc2MjI1MDQyOSwiZXhwIjoyMDc3NjEwNDI5fQ.gur4nUOjrXY9ZZhKVKV6UJXA9Q-auSAK_Y8MtbsQ410"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-ha-states",
      "name": "Fetch Home Assistant States",
      "type": "n8n-nodes-base.httpRequest",
      "position": [220, 0],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "http://192.168.1.183:8000/",
        "options": {}
      },
      "id": "fetch-radiator-state",
      "name": "Fetch Radiator Levels from AI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [440, 0],
      "typeVersion": 4.2,
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Map Home Assistant sensors to rooms\n// UPDATE THESE entity_ids to match YOUR Home Assistant sensors!\nconst sensorMapping = {\n  'Badrum': 'sensor.bathroom_temperature',\n  'Sovrum': 'sensor.bedroom_temperature', \n  'Kontor': 'sensor.office_temperature',\n  'Vardagsrum': 'sensor.living_room_temperature'\n};\n\nconst haStates = $('Fetch Home Assistant States').all();\nconst aiState = $('Fetch Radiator Levels from AI').first().json;\n\n// Get outdoor temp from AI service\nconst outdoor_temp = aiState.weather?.outdoor_temp || 5;\nconst forecast_temp = aiState.weather?.forecast_3h || outdoor_temp;\n\nconst payloads = [];\n\n// For each room, build training payload\nfor (const [room, targetTemp] of Object.entries({\n  'Badrum': 22.5,\n  'Sovrum': 20,\n  'Kontor': 20,\n  'Vardagsrum': 21\n})) {\n  // Find temperature sensor in HA\n  const sensorId = sensorMapping[room];\n  const tempSensor = haStates.find(s => s.json.entity_id === sensorId);\n  \n  if (!tempSensor) {\n    console.log(`Warning: Sensor ${sensorId} not found for ${room}`);\n    continue;\n  }\n  \n  const currentTemp = parseFloat(tempSensor.json.state);\n  \n  // Get radiator level - you'll need to track this in HA or use last set value\n  // For now, using a default or you can add radiator level sensors\n  const radiatorLevel = 3; // TODO: Replace with actual radiator level from HA\n  \n  payloads.push({\n    json: {\n      room: room,\n      current_temp: currentTemp,\n      target_temp: targetTemp,\n      radiator_level: radiatorLevel,\n      outdoor_temp: outdoor_temp,\n      forecast_temp: forecast_temp,\n      timestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn payloads;"
      },
      "id": "build-payloads",
      "name": "Build Training Payloads",
      "type": "n8n-nodes-base.code",
      "position": [660, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.183:8000/train",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "bodyContentType": "json"
        }
      },
      "id": "train-ai",
      "name": "Train AI Model",
      "type": "n8n-nodes-base.httpRequest",
      "position": [880, 0],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-predict",
      "name": "Prediction Schedule (Hourly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [0, 300],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://home.nmless.xyz/api/states",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJjMWVjMmU2MWE0MjE0OGUzYmNmNjRkZGIwMWFkODc0YSIsImlhdCI6MTc2MjI1MDQyOSwiZXhwIjoyMDc3NjEwNDI5fQ.gur4nUOjrXY9ZZhKVKV6UJXA9Q-auSAK_Y8MtbsQ410"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-ha-predict",
      "name": "Fetch HA States for Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "position": [220, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Same sensor mapping as training\nconst sensorMapping = {\n  'Badrum': 'sensor.bathroom_temperature',\n  'Sovrum': 'sensor.bedroom_temperature',\n  'Kontor': 'sensor.office_temperature',\n  'Vardagsrum': 'sensor.living_room_temperature'\n};\n\nconst haStates = $input.all();\nconst payloads = [];\n\nfor (const [room, targetTemp] of Object.entries({\n  'Badrum': 22.5,\n  'Sovrum': 20,\n  'Kontor': 20,\n  'Vardagsrum': 21\n})) {\n  const sensorId = sensorMapping[room];\n  const tempSensor = haStates.find(s => s.json.entity_id === sensorId);\n  \n  if (!tempSensor) continue;\n  \n  const currentTemp = parseFloat(tempSensor.json.state);\n  const radiatorLevel = 3; // Current level - update from HA if tracked\n  \n  payloads.push({\n    json: {\n      room: room,\n      current_temp: currentTemp,\n      target_temp: targetTemp,\n      radiator_level: radiatorLevel,\n      outdoor_temp: null,\n      forecast_temp: null,\n      timestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn payloads;"
      },
      "id": "build-predict-payloads",
      "name": "Build Prediction Payloads",
      "type": "n8n-nodes-base.code",
      "position": [440, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.183:8000/predict",
        "sendBody": true,
        "options": {
          "bodyContentType": "json"
        }
      },
      "id": "predict-ai",
      "name": "Get AI Predictions",
      "type": "n8n-nodes-base.httpRequest",
      "position": [660, 300],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Training Schedule (Every 30min)": {
      "main": [[{"node": "Fetch Home Assistant States", "type": "main", "index": 0}]]
    },
    "Fetch Home Assistant States": {
      "main": [[{"node": "Fetch Radiator Levels from AI", "type": "main", "index": 0}]]
    },
    "Fetch Radiator Levels from AI": {
      "main": [[{"node": "Build Training Payloads", "type": "main", "index": 0}]]
    },
    "Build Training Payloads": {
      "main": [[{"node": "Train AI Model", "type": "main", "index": 0}]]
    },
    "Prediction Schedule (Hourly)": {
      "main": [[{"node": "Fetch HA States for Prediction", "type": "main", "index": 0}]]
    },
    "Fetch HA States for Prediction": {
      "main": [[{"node": "Build Prediction Payloads", "type": "main", "index": 0}]]
    },
    "Build Prediction Payloads": {
      "main": [[{"node": "Get AI Predictions", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
