n8n/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "30c3a2f4-977a-4599-8ddd-1112b317d3e5",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://home.nmless.xyz/api/states",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJjMWVjMmU2MWE0MjE0OGUzYmNmNjRkZGIwMWFkODc0YSIsImlhdCI6MTc2MjI1MDQyOSwiZXhwIjoyMDc3NjEwNDI5fQ.gur4nUOjrXY9ZZhKVKV6UJXA9Q-auSAK_Y8MtbsQ410"
            }
          ]
        },
        "options": {}
      },
      "id": "16659bd3-822e-4c7d-b1a2-6be1d51cedb7",
      "name": "Fetch Room Temps",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        224,
        0
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "functionCode": "const rooms = ['Bedroom', 'Living Room', 'Office', 'Bathroom', 'Hallway'];\nconst forecast = $json.forecast_temp;\nconst outside = $json.outdoor_temp;\nreturn rooms.map(room => ({ json: { room, current_temp: parseFloat($json[room.toLowerCase().replace(' ','_')+'_temp']), target_temp: parseFloat($json[room.toLowerCase().replace(' ','_')+'_target']), radiator_level: $json[room+'_level'], outdoor_temp: outside, forecast_temp: forecast, timestamp: new Date().toISOString() } }));"
      },
      "id": "30ec92d6-4acd-45db-83b1-6c159bf30d1e",
      "name": "Build Training Payloads",
      "type": "n8n-nodes-base.function",
      "position": [
        1344,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://radiatorai.nmless.xyz/train",
        "options": {}
      },
      "id": "5b68c78d-2bea-4920-a939-57f0d0f21ef6",
      "name": "Train AI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1568,
        0
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://radiatorai.nmless.xyz/predict",
        "options": {}
      },
      "id": "a5920164-6c1c-481f-a9bb-41ded97948d9",
      "name": "Predict AI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        288,
        352
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "path": "0023e6f3-68cb-4ace-a841-3cc963f6a014",
        "options": {}
      },
      "id": "1e4cc92b-4355-4fb6-bce3-fc937003ad68",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -96,
        208
      ],
      "typeVersion": 2.1,
      "webhookId": "0023e6f3-68cb-4ace-a841-3cc963f6a014"
    },
    {
      "parameters": {
        "url": "https://opendata-download-metfcst.smhi.se/api/category/pmp3g/version/2/geotype/point/lon/16/lat/59.5/data.json",
        "options": {}
      },
      "id": "fcf9bb2d-17c7-42eb-a346-e6b774140107",
      "name": "Fetch Forecast",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        448,
        0
      ],
      "typeVersion": 4.2,
      "executeOnce": true
    },
    {
      "parameters": {
        "functionCode": "// Parse SMHI forecast for current and +3h forecast\nconst data = $json; // The SMHI API response JSON\n\nconst temps = data.timeSeries\n  .map(ts => {\n    const tempParam = ts.parameters.find(p => p.name === 't');\n    return tempParam ? tempParam.values[0] : null;\n  })\n  .filter(t => t !== null);\n\nreturn {\n  outdoor_temp: temps[0],\n  forecast_temp: temps[3] || temps[0]\n};\n"
      },
      "id": "5dfbee20-9211-4c17-a6ea-df98f8d5b1cc",
      "name": "Extract Forecast Temps",
      "type": "n8n-nodes-base.function",
      "position": [
        672,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "command": "sqlite3 /workspace/bot/radiators.db \"SELECT room, level FROM radiators;\""
      },
      "id": "41ab962b-2cbd-4c7f-a8ae-fc68e10b0748",
      "name": "Fetch Radiator Levels",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        896,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "const lines = $input.item.json.stdout.split('\\n');\nreturn lines.filter(Boolean).map(l => { const [room, level] = l.split('|'); return { room, level: Number(level) }; });"
      },
      "id": "5fbbbefd-3873-404e-a09d-104f73b0fd2b",
      "name": "Parse Radiator Levels",
      "type": "n8n-nodes-base.function",
      "position": [
        1120,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        336
      ],
      "id": "55adf3d6-e817-477d-afd3-7e473c10b35f",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Fetch Room Temps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Room Temps": {
      "main": [
        [
          {
            "node": "Fetch Forecast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Forecast": {
      "main": [
        [
          {
            "node": "Extract Forecast Temps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Forecast Temps": {
      "main": [
        [
          {
            "node": "Fetch Radiator Levels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Radiator Levels": {
      "main": [
        [
          {
            "node": "Parse Radiator Levels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Radiator Levels": {
      "main": [
        [
          {
            "node": "Build Training Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Training Payloads": {
      "main": [
        [
          {
            "node": "Train AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Train AI": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Predict AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b4ddbb3-d089-4381-b092-7e9ee3fc743b",
  "meta": {
    "instanceId": "8fae56690ffee78442640f016b8f77f99bdbbe429f02e6307f736b795e86f037"
  },
  "id": "LckgHlz53DXTp2mn",
  "tags": []
}